* {
    box-sizing: border-box;
}
body {
    font: normal 15pt Impact;
    background: url('_img/img2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    text-align: center;
    background-size: cover;
    color: red;
}
body h1 {
    font-size: 100px;
    margin-bottom: 400px;
}
body section label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.bodyheader {
    text-align: center;
    color: white;
}
.text-input {
    width: 300px;
}
#myBtn {
    margin-top: 5px;
}


/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 650px) {
    body {
        font: normal 5pt Impact;
        background: url('_img/img2.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        text-align: center;
        background-size: cover;
        color: red;
    }
    body h1 {
        font-size: 30px;
        margin-bottom: 300px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        text-align: center;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        
        border: 1px solid #888;
        width: 100%;
    }
    .modal-content img{
        width: 50%;
    }
    .modal-content p{
        font-size: 20px;
    }
}